* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  font-family: sans-serif;
  background: #355378;
  color: #fff;
}

.perspective-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  perspective: 700px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 24px;
  text-align: center;
  opacity: 0;
}
.screenshot {
  vertical-align: middle;
  max-width: 50%;
}

.content {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  margin-top: -50px;
  display: inline-block;
  max-width: 50%;
  padding-right: 80px;
}

h1 span {
  font-size: 10px;
  vertical-align: top;
}

.download-buttons {
  margin-top: 40px;
}
.download {
  display: inline-block;
  border-radius: 3px;
  background: #4bc8ff;
  padding: 19px 24px;
  color: #00628c;
  text-decoration: none;
  box-shadow: 0 2px 20px rgba(0,0,0,.3);
  margin-bottom: 16px;

  transition: all .2s ease;
}
.download img {
  width: 20px;
  margin-top: -5px;
  margin-right: 8px;
  vertical-align: middle;
}

.download:hover {
  box-shadow: 0 5px 30px rgba(0,0,0,.4);
  transform: translate(0, -1px);
}

.byline {
  font-size: 12px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: #fff;
  text-decoration: none;
}

.logo {
  display: inline-block;
  width: 32px;
  margin-right: 8px;
  vertical-align: middle;
  margin-top: -10px;
}

@media(max-width: 690px) {
  .wrapper {
    text-align: center;
    padding: 80px 24px 0;

    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
  .screenshot {
    display: block;
    margin: 0 auto;
  }

  .download:last-child {
    margin-bottom: 40px;
  }

  .screenshot,
  .content {
    max-width: 100%;
    padding: 0;
    text-align: center;
  }
}
